<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listed Flights</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <nav class="nav">
        <img src="https://i.pinimg.com/originals/27/3a/c6/273ac6af63860fcd01736836fdf53cc3.gif" alt="Plane Image" class="plane-image">
        <a href="/">Home</a>
        <div class="spacer"> | </div>
        <a href="/flights/">All Flights</a>
        <div class="spacer"> |  </div>
        <a href="/flights/new">Add Flight</a>
    </nav>