<%- include('./partials/header') %>

<!-- <h2>Home Page</h2> -->

    <!-- <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://i.gifer.com/embedded/download/3qDS.gif" class="d-block w-100" alt="Carousel Image 1">
            </div>
        </div>
    </div> -->

    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://i.gifer.com/embedded/download/3qDS.gif" class="d-block w-100" alt="Carousel Image 1">
            </div>
        </div>
    </div>
    

<%- include('./partials/footer') %>
