
* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #424748;
}

body, h1, h2, h3, p, ul, li, form, label, input, select, button {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

h2 {
  font-size: 28px;
  margin: 20px 0;
  text-align: center;
}

form {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.submit-container {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

select, input[type="number"], input[type="datetime-local"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
  font-size: 16px;
  color: #333;
  margin-bottom: 15px;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}
body > nav {
  grid-area: nav;
  background-color: #a48fba;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

nav > img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-right: auto;
  
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: white;
  cursor: default;
}

h2 {
  font-size: 24px;
  margin: 20px 0;
}

.table-container {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  max-width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 15px;
}

th {
  background-color: #f2f2f2;
  border-bottom: 2px solid #ddd;
  padding: 10px;
  text-align: left;
  font-weight: bold;
}

td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.past-departure {
  background-color: #ffe6e6;
}

.view-details {
  color: #007bff;
  text-decoration: none;
}

.view-details:hover {
  text-decoration: underline;
}



#myCarousel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.carousel-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; 
}

.carousel-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
